{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% load static %}
{% block title %}
User Login
{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'users/user.css' %}">
{% endblock %}


{% block content %}
    

    <div class="row justify-content-center">
        <div class="col-6 form-boxStyle">
            <form method="POST" >
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom pb-2 mb-2 mt-4"> <h2 class="display-6">Login</h2> </legend>
                </fieldset>
                    {{ form | crispy }}
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="submit" class="btn btn-outline-success"> Login </button>
                    </div>
                </div>
            </form>
            <div class="border-top pt-2 mt-2">
                <small class="text-muted">
                Don't Have an account ? <a class="ml-2" href="{% url 'user-registration' %}">Register </a>
                </small>
            </div>
        </div>
    <div>
        
  
{% endblock %}