{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block title %}
User Login
{% endblock %}

{% block content %}

<h1> You have successfully logged out </h1>
<div class="border-top pt-2 mt-2">
    <small class="text-muted">
    Login in again ? <a class="ml-2" href="{% url 'login' %}">Login </a>
    </small>
</div>

{% endblock %}