{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block title %}
User registration 
{% endblock %}


{% block styling %}
    <link rel="stylesheet" href="{% static 'users/user-registration.css' %}">
{% endblock %}

{% block content %}

    <div class="row justify-content-center p-2">
        <div class="col-6 form-box">
            <form method="POST" action="/register/">
                {% csrf_token %}
                <fieldset class="form-group">
                <legend class="border-bottom mb-2 mt-2"> <h2 class="display-6">Register</h2> </legend>
                </fieldset>
                    {{ form | crispy }}
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="submit" class="btn btn-outline-success"> Register </button>
                    </div>
                </div>
            </form>
            <div class="border-top pt-2 mt-2">
                <small class="text-muted">
                Already have an account ? <a class="ml-2" href="{% url 'login' %}">Login </a>
                </small>
            </div>
        </div>
    <div>
        
  
{% endblock %}