body {
	background: #DCDDDF;
	color: #000;
	font: 14px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
hr {
	background-color: #000;
}
.border-top {
    border-top: 1px solid #000!important;
}

.border-bottom {
    border-bottom: 1px solid #000!important;
}

.form-boxStyle {
	margin: 10px;
	padding: 10px;
	border: 2px solid #000;
	background-color: white;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}