{% extends 'base.html' %}
{% block title %}
    Game DashBoard
{% endblock %}


{% block content %}
<div class="alert alert-primary mt-3">
    <h1> Welcome Back, {{user.username}} </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Quiz Name</th>
        <th scope="col">Type</th>
        <th scope="col">Take Quiz</th>
    </tr>
  </thead>
  <tbody>
    {% for quiz in quizes %}
        <tr>
        <td>{{quiz.title}}</td>
        <td>{{quiz.type}}</td>
        <td><a href="{% url 'quizStart' quiz.slug %}" class="btn btn-primary">Go To Quiz</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}