{% extends 'base.html' %}
{% block title %}
    Game Score
{% endblock %}


{% block content %}

<div class="row justify-content-center">
    <div class="col-8 alert alert-info mt-4">
        <h1>You scored {{score}} / {{max_score}} in Quiz {{quiz_name}} </h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <a href="{% url 'leaderboard' quiz_name %}" class="btn btn-warning" >Check Leaderboard !</a>
    </div>
</div>
{% endblock %}