{% extends 'base.html' %}
{% block title %}
    Quiz
{% endblock %}



{% block content %}

<div class="row justify-content-center mt-4">
<div class="col-8">
    <form method="POST" action="/quiz/{{slug}}">
        {%csrf_token%}
        {% for question in questions %}
            <div class="card mt-2">
                <div class="card-header">
                    Q. {{question.description}}
                </div>
                <div class="card-body">
                    <p class="card-text">Answers: </p>
                    {% for answer in question.answers.all %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value= {{answer.text}} name="{{question.id}}" required>
                            <label class="form-check-label" >
                                {{answer.text}}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>  
        {% endfor %}
        <button class="btn btn-success mt-2 mb-4" type="submit"> Submit your results ! </button>
    </form>
</div>
</div>
{% endblock %}