{% extends 'base.html' %}

{% block title%}
    Leaderboard
{% endblock %}


{% block content %}
<h3 class="display-3">Please choose a quiz to view it's leaderboard</h3>
<hr>
<div class="row mt-2">
    <div class="list-group">
        {% for quiz in quizes %}
            <a href="{% url 'leaderboard' quiz.slug %}" class="list-group-item list-group-item-action">{{quiz.title}} -- {{quiz.type}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}