{% extends 'base.html' %}

{% block title %}
  {{title}} Leaderboard
{% endblock %}

{% block content%}

<div class="card border-dark mt-4">
  <div class="card-body">
    <h1 class="display-2"> {{title}} Leaderboard </h1>
  </div>
</div>

<table class="table mt-4" style="border: 3px solid #dee2e6;">
  <thead>
    <tr>
      <th scope="col">username</th>
      <th scope="col">score</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
    {% for leadeboard_item in leaderboard_list %}
        <tr>
        <th>{{leadeboard_item.username}}</th>
        <td>{{leadeboard_item.score}}</td>
        <td>{{leadeboard_item.created_at}}</td>
        </tr>
    {% endfor %}
  </tbody>
{% endblock %}
</table>